{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table class="table table-striped">
       <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>total</th>
            </tr>
       </thead>
       <tbody>
            {% for i in index %}
                <tr>
                    <td>{{i["symbol"]}}</td>
                    <td>{{i["name"]}}</td>
                    <td>{{i["price"]}}</td>
                    <td>{{i["total"]}}</td>
                </tr>
            {% endfor %}
       </tbody>
    </table>
{% endblock %}
